photon_data.csv filter=lfs diff=lfs merge=lfs -text
sampled_rays.csv filter=lfs diff=lfs merge=lfs -text
sampled_rays_theta_band.csv filter=lfs diff=lfs merge=lfs -text
single_ray_cuda_test.csv filter=lfs diff=lfs merge=lfs -text
geodesic_plot.png filter=lfs diff=lfs merge=lfs -text
single_ray_cuda_test.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown_3d_azim180.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown_3d_azim90.png filter=lfs diff=lfs merge=lfs -text
images/single_ray_birdeye.png filter=lfs diff=lfs merge=lfs -text
images/single_ray_geodesicplotter.png filter=lfs diff=lfs merge=lfs -text
images/theta_band_image.png filter=lfs diff=lfs merge=lfs -text
images/manual_output.png filter=lfs diff=lfs merge=lfs -text
images/scene_full.png filter=lfs diff=lfs merge=lfs -text
images/straight_ray_20deg.png filter=lfs diff=lfs merge=lfs -text
images/theta_band_trajectories.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown_3d_azim240.png filter=lfs diff=lfs merge=lfs -text
images/single_ray_geodesic.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown_3d_azim0.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown_3d_azim120.png filter=lfs diff=lfs merge=lfs -text
images/scene_topdown.png filter=lfs diff=lfs merge=lfs -text
images/single_ray_topdown.png filter=lfs diff=lfs merge=lfs -text
images/no_gravity.png filter=lfs diff=lfs merge=lfs -text
images/scene_closeup_3d.png filter=lfs diff=lfs merge=lfs -text
images/backgrounds/*.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
